#banner{
    width: 100%;
    display: flex;

    
}

#logo{
   width: 30%;
height: 380px;}

#peixe{
    width: 70%;
    height: 380px;}


#servicosAgendas{
    color: white;
    background-color: var(--preto);
    height: 60px;
    gap: 10px;
    width: 100%;
    display: flex;
   align-items: center;
}
#servicos1{
    width: 80%;
    flex-direction: column;
    padding: 10px 10px 10px 10px; 
   
    
}

#agenda1{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px; 

}

h3{
    height: 50px;
    padding: 30px 10px 0px 10px; 
  

}


#box{
    margin-left: 15px;
    width: 80%;
    height: 90%;
    background-color:beige;
    padding: 9px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 20px;
  
}

#mapa{
    display: flex;
}

#agenda{

    flex-direction: column;
    display: flex;
    width: 30%;
    padding: 10px 10px 10px 10px; 
    
    
    
}

#servicos{
    display: flex;
    width: 55%;
    flex-direction: column;
    padding: 10px 10px 10px 10px; 
}

#juntar{
    display: flex;
}

h4 {
    

}